<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moqian.bank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AuthorActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".Zjhk" />
        <activity android:name=".Kszz" />
        <activity android:name=".Jlch" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".resultActivity" />
        <activity android:name=".MessageActivity" android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>